<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/internal-nlog.txt">
  <targets>
    <target xsi:type="File" name="file" fileName="logs/${shortdate}.log"
            layout="${longdate}|${machinename}|${event-properties:item=EventId.Id}|[${threadid}]|${logger}|${uppercase:${level}}|${callsite}|${message} ${exception:format=ToString,StackTrace}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>